<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: head}"></head>

<body class="container">

<div class="header" th:replace="~{fragments :: header}"></div>

<div class="body">
    <form method="post" action="/teas/delete" >
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <th:block th:each="tea: ${teas}">
            <div class="form-group">
                <label>
                    <span th:text="${tea.name()}"></span>
                    <input type="checkbox" name="teaNames" th:value="${tea.name}" class="form-control">
                </label>
            </div>
        </th:block>

        <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger">
        </div>
    </form>
</div>
</body>

<div th:replace="~{fragments :: footer}"></div>

</html>